<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>CAI Discord Bot Generator</title>
    <script>
        async function sendCode() {
            const email = document.getElementById('email').value;
            const statusElement = document.getElementById('status');

            if (!email) {
                statusElement.innerText = 'Email is required!';
                statusElement.style.color = '#FF7965'; 
                return; 
            }

            showSpinner('status');

            const response = await fetch('/send_code', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email })
            });
            const data = await response.json();

            hideSpinner('status');
            

            if (response.ok) {
                if (data.code === true) {
                    statusElement.innerText = `Code Sent Successfully. Copy The Link From Your Email`;
                    statusElement.style.color = '#00F397'; 
                } else {
                    statusElement.innerText = `Code Not Sent!!`;
                    statusElement.style.color = '#FF7965'; 
                } 
            } else {
                statusElement.innerText = `Error: ${data.error}`;
                statusElement.style.color = '#FFA64E'; 
            }
        }

        async function generateToken() {
            const email = document.getElementById('email').value;
            const link = document.getElementById('link').value;
            const tokenElement = document.getElementById('token');
            if (!email || !link) {
                tokenElement.innerHTML = 'Both Email and Link are required!';
                tokenElement.style.color = '#FF7965'; 
                return; 
            }

            showSpinner('token');

            const response = await fetch('/generate_token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, link })
            });

            hideSpinner('token');

            const data = await response.json();
            if (response.ok) {
                tokenElement.innerHTML = `Your token:&nbsp;<span id="tokenValue">${data.token}</span>&nbsp;<button onclick="copyToken()" class = "fas fa-copy cpy-btn"></button>`;
                tokenElement.style.color = "#A5D6FF"; 
            } else {
                tokenElement.innerHTML = `Error: ${data.error}`;
                tokenElement.style.color = "#FF7965";
            }
        }

        async function sendTokenToExpressServer(token) {
            try {
                const response = await fetch('http://localhost:5132/receive_token', {
                    method: 'POST',
                    headers: { 
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ token })
                });

                if (!response.ok) {
                    throw new Error(`Error sending token to Express server: ${response.statusText}`);
                }else{
                    console.log("token sent")
                }

                const result = await response.json();
                console.log('Express server response:', result);
            } catch (error) {
                console.error('Error:', error);
            }
        }
        
        function showCustomAlert(message, duration = 3000) {
      // Create overlay
      const overlay = document.createElement('div');
      overlay.className = 'alert-overlay';

      // Create alert box
      const alertBox = document.createElement('div');
      alertBox.className = 'alert-box';
      alertBox.innerHTML = `<div>${message}</div>`;

      // Append overlay and alert box to body
      document.body.appendChild(overlay);
      document.body.appendChild(alertBox);

      // Automatically remove the alert box after the specified duration
      setTimeout(() => {
        removeAlert();
      }, duration);
    }

    function removeAlert() {
      const alertBox = document.querySelector('.alert-box');
      const overlay = document.querySelector('.alert-overlay');

      if (alertBox) alertBox.remove();
      if (overlay) overlay.remove();
    }

    function showSpinner(targetElementId) {
    const targetElement = document.getElementById(targetElementId);
    const spinner = document.createElement('div');
    spinner.className = 'spinner';
    spinner.id = `${targetElementId}-spinner`;
    targetElement.appendChild(spinner);
}

function hideSpinner(targetElementId) {
    const spinner = document.getElementById(`${targetElementId}-spinner`);
    if (spinner) {
        spinner.remove();
    }
}

        async function getSearchResults() {
    const searchTerm = document.getElementById("queryBar").value;
    const resultsContainer = document.getElementById("queryResults");
    resultsContainer.innerHTML = ''; 
  
    showSpinner('queryResults');

    try {
        const response = await fetch('http://localhost:5132/get_search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ searchKey: searchTerm })
        });

        if (!response.ok) {
            throw new Error(`Error sending request to Express server: ${response.statusText}`);
        }

        hideSpinner('queryResults')

        const result = await response.json();
        console.log('Express server response:', result);

        if (result.characters && result.characters.length > 0) {
            result.characters.forEach(character => {
                const characterElement = document.createElement('div');
                characterElement.classList.add('character');

                const characterHeader = document.createElement('div');
                characterHeader.classList.add('character-header');

                const copyButton = document.createElement('button');
                copyButton.classList.add('fas', 'fa-copy', 'cpy-btn');

                const characterData = document.createElement('div');
                characterData.classList.add('character-data');

                const imgElement = document.createElement('img');
                imgElement.src = character.pfp;
                imgElement.alt = character.name;
                imgElement.classList.add('character-image');
                characterHeader.appendChild(imgElement);

                const nameElement = document.createElement('h3');
                nameElement.innerText = character.name;
                characterHeader.appendChild(nameElement);

                characterElement.appendChild(characterHeader);

                const idElement = document.createElement('input');
                idElement.type = "text";
                idElement.value = `ID: ${character.id}`;
                idElement.readOnly = true;
                idElement.classList.add('char-id');
                characterData.appendChild(idElement);

                const popularityElement = document.createElement('p');
                popularityElement.classList.add('popularity');
                popularityElement.innerText = `Popularity: ${character.popularity}`;
                characterData.appendChild(popularityElement);

                characterElement.appendChild(characterData);
                characterElement.appendChild(copyButton);


                copyButton.addEventListener('click', () => {
                    const tempTextArea = document.createElement('textarea');
                    tempTextArea.value = character.id;
                    document.body.appendChild(tempTextArea);

                    tempTextArea.select();
                    document.execCommand('copy');

                    document.body.removeChild(tempTextArea);

                    showCustomAlert('Character ID copied to clipboard');
                });

                resultsContainer.appendChild(characterElement);
            });
        } else {
            resultsContainer.innerHTML = 'No results found.';
            resultsContainer.style.color = "#FF7965";
            resultsContainer.style.display = "flex";
            resultsContainer.style.justifyContent = "center";
            resultsContainer.style.alignItems = "center";
            resultsContainer.style.paddingTop = "10px";
        }
    } catch (error) {
        console.error("Error: ", error);
        resultsContainer.innerHTML = 'Error fetching results.';
        resultsContainer.style.color = "#FF7965";
        resultsContainer.style.display = "flex";
        resultsContainer.style.justifyContent = "center";
        resultsContainer.style.alignItems = "center";
        resultsContainer.style.paddingTop = "10px";
    }
}
   

        function copyToken() {
            const token = document.getElementById('tokenValue').innerText;
            navigator.clipboard.writeText(token).then(() => {
                showCustomAlert('Token copied to clipboard!');
            }).catch(err => {
                console.error('Failed to copy token: ', err);
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="header"><h1>&nbsp;&nbsp;Get Character AI Auth Token&nbsp;&nbsp;</h1></div>
        <div class="get-data">
            <div class="data-collection">
                <span class="text-default">&nbsp;&nbsp;&nbsp;&nbsp;Enter Character AI Email&nbsp;&nbsp;</span>
                <input id="email" type="text">
                &nbsp;&nbsp;
                <button onclick="sendCode()">Send Code</button>
                &nbsp;&nbsp;
            </div>
            <div class="data-collection">
                <span class="text-default">&nbsp;&nbsp;&nbsp;&nbsp;Enter Link From Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input id="link" type="text">
                &nbsp;&nbsp;
                <button onclick="generateToken()">Generate Token</button>
                &nbsp;&nbsp;
            </div>
            <div class="status" id="status"></div>
            <div class="token" id="token"></div>
        </div>
    </div>
    <div class="search-div">
        <div class="header"><h1>&nbsp;&nbsp;Search Characters&nbsp;&nbsp;</h1></div>
        <div class="search-component">
            <div class="search-container">
                <input type="text" id="queryBar" class="search-bar" placeholder="Search Character">
                <i class="fas fa-search search-icon"></i>
            </div>
            <button id="search" onclick="getSearchResults()">Search</button>
        </div>
        <div id ="queryResults" class="search-results"></div>
    </div>
</body>
</html>
